/* ===== estilos.css ===== */
@import url("colors.css");

/* ===== Reset básico ===== */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* ===== Fondos ===== */
.fondo-centro {
  background: url("../assets/colegio_back.png") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fondo-simple {
  background: var(--celeste);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ===== Contenedor principal ===== */
.container {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 30px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  gap: 12px; 
}

/* ===== Formularios ===== */
.formulario {
  background: var(--blanco);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formulario h2 {
  margin-bottom: 20px;
  color: var(--negro);
}

.formulario input,
.formulario select,
.formulario button {
  width: 100%;
  margin: 20px 0;
  padding: 12px;
  font-size: 14px;
  border: 1px solid var(--azul-borde);
  border-radius: 6px;
}

.formulario input:focus {
  outline: none;
  border-color: var(--rojo);
  box-shadow: 0 0 5px var(--rojo);
}

.formulario p {
  font-size: 14px;
  margin-top: 10px;
  color: var(--negro);
}

.formulario a {
  color: var(--rojo);
  text-decoration: none;
  font-weight: bold;
}

.formulario a:hover {
  text-decoration: underline;
}

/* ===== Botones ===== */
.btn {
  display: block;
  width: 100%;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: 5s;
  text-align: center;
}

.btn-rojo {
  background: var(--rojo);
  color: var(--blanco);
}

.btn-rojo:hover {
  background: darkred;
}

.btn-azul {
  background: var(--azul-borde);
  color: var(--blanco);
}

.btn-azul:hover {
  background: #0077cc;
}

/* ===== Tarjetas ===== */
.card {
  background: #e6f7ff;
  border: 1px solid #b3e0ff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  background: #cceeff;
}

/* ===== Mostrar contraseña ===== */
.show-pass {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--negro);
  margin: 5px 0 10px 0;
  align-self: flex-start;
}

.show-pass input {
  cursor: pointer;
}

/* ===== Logo ===== */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0056a3;
}

.logo-img {
  margin-bottom: 15px;
  height: 100px;
}

/* ===== Paneles ===== */
.panel {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background: #f7f9fa;
}

.oculto {
  display: none;
}

/* ===== Perfil Header ===== */
.perfil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #61a2e4;
  color: white;
  padding: 10px;
}
